<h1>This is the movies page</h1>
<a href="/movies/create">Add a movie to our list</a>
{{#each movies}}
    <div class="celebrity-card">
        <h3>{{this.title}}</h3>
        <p>Genre: {{this.genre}}</p>
        <p>Plot: {{this.plot}}</p>
    </div>
{{/each}}